.checkout {
  .top-discount-banner .forMobile {
    display: none;
  }

  @media only screen and (max-width: 767px) {
    .top-discount-banner .forDesktop {
      display: none;
    }
    .top-discount-banner .forMobile {
      display: block;
    }
  }
  .TopTagline_V3_logoContainer__6CYA6 {
    width: 100%;
    background-color: #eb6a03;
    text-align: center;
  }
  .HeaderSection_V1_icon__SPf0G {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 25px;
    background: #000;
    padding: 10px 7px;
    text-align: center;
    color: #fff;
  }
  .TopTagline_V3_logo__1XWDz {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .TopTagline_V3_tagLine__lFwSp {
    display: flex;
    flex-direction: column;
    min-width: 160px;
    max-width: 600px;
    max-height: 75px;
  }
  .TopTagline_V3_brandSubtitle__0FKZV {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }
  .MediaCard_V2_mediaCard__Mk7w9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10%;
    background-color: #fff;
    padding: 8px 0 0;
    color: #142b4c;
    border-radius: 5px;
  }
  .VideoPlayer_video__QyD5i {
    max-width: 100%;
    max-height: 52vw;
  }
  @media (min-width: 768px) {
    .VideoPlayer_video__QyD5i {
      max-height: 46.25vw !important;
    }
  }
  .MidTagline_V1_MidTagline__ApDzg {
    font-size: 14px;
    margin: 10px 0;
    box-sizing: border-box;
    text-align: center;
  }
  @media (min-width: 768px) {
    .MidTagline_V1_MidTagline__ApDzg {
      font-size: 20px;
    }
  }
  .ReviewsCounter_V1_container__QALfC {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ReviewsCounter_V1_reviews__evvzP {
    font-size: 14px;
    color: grey;
    padding-bottom: 10px;
  }
  .ReviewsCounter_V2_container__Io45h {
    width: 100%;
    margin: 16px auto;
  }
  .ReviewsCounter_V2_reviews__9jsgf {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #000;
    font-weight: 700;
  }
  .ReviewsCounter_V2_chkMark__mSQ_e {
    background: green;
    color: #fff;
    font-size: 10px;
    border-radius: 50px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ReviewsCounter_V2_secLine__5SJ70 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 5px;
    column-gap: 5px;
  }
  @media (min-width: 768px) {
    .ReviewsCounter_V2_reviews__9jsgf {
      flex-direction: row;
      -moz-column-gap: 15px;
      column-gap: 15px;
    }
  }
  .TopTagline_V2_logoContainer__iIBq6 {
    width: 100%;
    background-color: #eb6a03;
    text-align: center;
  }
  .MidTagline_V1_text__geMb8 {
    margin-top: 5px;
    margin-bottom: 2px;
  }
  .MidTagline_V1_brandName__TfCUf {
    font-size: 17px;
    font-weight: 700;
  }
  .MidTagline_V1_text__geMb8 {
    margin-top: 5px;
    margin-bottom: 2px;
  }
  .TopTagline_V2_logo__n39X9 {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .TopTagline_V2_tagLine__tsN7J {
    display: flex;
    flex-direction: column;
    min-width: 160px;
    max-width: 600px;
    max-height: 75px;
  }
  .TopTagline_V2_brandSubtitle___VYVu {
    color: #fff;
    font-weight: 600;
  }
  .FooterProduct_V1_footer__4soA5 {
    width: 100%;
    text-align: center;
    background: #fff;
    padding: 40px 0;
    border-top: 1px solid #d7d7d7;
    color: #777;
    font-size: 13px;
    text-decoration: none;
  }

  .frt-txt {
    font-size: 16px;

    line-height: 24px;
    color: #777;

    text-align: center;

    margin: 0 auto;

    padding: 0 0 0 0;
  }

  .frt-txt a,
  .frt-txt a:hover {
    text-decoration: none;

    color: #777;
  }
  //  form css
  .Form_V9_container__ZjdbQ {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 750px) {
    .Form_V9_container__ZjdbQ {
      width: 80%;
      justify-content: center;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      -moz-column-gap: 30px;
      column-gap: 30px;
    }
  }
  @media (min-width: 751px) and (max-width: 925px) {
    .Form_V9_container__ZjdbQ {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  @media (min-width: 750px) {
    .Form_V9_formSection__rjTZI {
      flex-direction: row;
    }
    .Form_V9_gridLayout__sAvxF {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 30px;
      gap: 30px;
    }
    .Form_V9_tableDetails__UkeCx {
      width: 100%;
    }
    .Form_V9_formCard__0h4bh {
      flex-direction: column;
    }
    .Form_V9_formCardShippingInformation__h_AXb {
      margin-top: 20px;
    }
    .Form_V9_formCardShippingInformation__h_AXb {
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
      padding: 0 25px;
    }
    .Form_V9_checkoutContainer__hZx_o {
      flex-direction: row;
      align-items: flex-start;
      -moz-column-gap: 25px;
      column-gap: 25px;
    }
    .Form_V9_form__cQ3T3 {
      width: 100%;
      padding: 10px 0;
    }
  }
  @media (min-width: 751px) and (max-width: 950px) {
    .Form_V9_checkoutContainer__hZx_o {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .Form_V9_formSection__rjTZI {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    .Form_V9_billingInfo__T82VT {
      width: 100%;
    }
  }
  .TableDetail_V2_tableItemHeader_top__d_SLQ {
    color: #161e2b;
  }
  .TableDetail_V2_tableItemHeader__uvqGL,
  .TableDetail_V2_tableItemHeader_top__d_SLQ {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    font-size: 15px;
    line-height: 15px;
    border-bottom: 1px solid #ccc;
  }
  .TableDetail_V2_tableProductDetail__2Ao8A {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    padding: 8px 0;
  }
  .TableDetail_V2_sectionHeader__nNbnS {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    padding: 8px 0;
  }
  @media (min-width: 768px) {
    .TableDetail_V2_sectionHeader__nNbnS {
      height: 44px;
    }
    .TableDetail_V2_tableItemHeader__uvqGL {
      font-size: 16px;
    }
    .TableDetail_V2_productImageDesktop__629yu {
      display: block !important;
    }
    .TableDetail_V2_productImageMobile__J62Cd {
      display: none;
    }
    .TableDetail_V2_productCard__aEJd3 {
      margin-top: 25px;
      width: 100%;
    }
  }
  .Form_V9_checkoutContainer__hZx_o {
    width: 100%;
    align-items: center;
  }
  .Form_V9_checkoutContainer__hZx_o,
  .Form_V9_formSection__rjTZI,
  .Form_V9_form__cQ3T3 {
    display: flex;
    flex-direction: column;
  }
}

.form-group select {
  font-weight: 400;
  color: #000000;
}

.UpsellTwo_V1_frmBoxHd2__zVTdq {
  background: #2984ff;
  font-size: 17px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  padding: 6px 40px 6px 50px;
  border: 0;
  margin: 10px 0 0;
  border-radius: 4px;
  position: relative;
}

.UpsellTwo_V1_bestSela__wONUh {
  background: url(/red-arw.png) -2px top no-repeat;
  background-size: min-content 100%;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  padding: 2px 0 0 12px;
  margin: 10px 0 -13px;
  position: relative;
  z-index: 1;
}

.Checkout_V3_submitButton_v2__zuFJL {
  font-size: 20px;
  line-height: 25px;
  align-items: center;
  font-weight: 400;
  padding: 20px 0;
  width: 100%;
  height: auto;
  border: 2px solid #45af1a;
  background: linear-gradient(180deg, #60ba0f 0, #4a8c0d);
  background-repeat: repeat;
  background-position: 0 0;
  background-attachment: scroll;
  background-size: 100%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 0 0 0 #000;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  /* transition: all 0.25s ease; */
}

.DeliveredBy_V3_container__wMQ5s {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eef2f3;
  padding: 10px;
  gap: 15px;
}
